services:
  smartbin.api:
    image: smartbin.api
    build:
      context: .
      dockerfile: SmartBin.Api/Dockerfile

  smartbin.domain:
    image: smartbin.domain
    build:
      context: .
      dockerfile: SmartBin.Domain/Dockerfile

